.media {
    display: flex;
    align-items: center;
    padding: 7% 0;
  }
  
  .media_text {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15%;
  }
  
  .media_buttons {
    width: 50%;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  .dark_container {
    padding: 10% 0;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
  }
  
  .light_container {
    padding: 10% 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
  }