.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .dark_header {
    background-color: #000;
    transition: .3s all linear;

  }
  .light_header {
    transition: .3s all linear;

    background-color: #3FC1C9;
  }
  
  .sticky {
    position: relative;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    opacity: .8;
    animation: header 1.5s forwards;
    box-shadow: 5px  -2px 27px 3px #000;
    backdrop-filter:  blur(16px);
    background: rgba(63, 193, 201, .5);
  }

  button {
    border: none;
    cursor: pointer;
  }
  .light_button {
    opacity: .5;
    transition: .3s all linear;
    height: 30px;
    width: 30px;
    background: url('../../assets/components/header/theme/dark.svg') no-repeat center center;
  }
  .dark_button {
    opacity: .5;
    border-radius: 50%;
    transition: .3s all linear;
    height: 30px;
    width: 30px;
    background: url('../../assets/components/header/theme/light.svg') no-repeat center center;
  }


  
  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-bottom: 4%;
    color: #fff;
    transform: translateX(-150%);
    animation: header 1.5s forwards;
  
  }


@keyframes header {
  0% {transform: translateY(-150%);}
  100% {transform: translateY(0);}
}

  .header_nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .nav_link {
    display: block;
    text-decoration: none;
    padding: 5px 20px;
    white-space: nowrap;
    color: inherit;
  }
  .nav_link:hover::after {
    width: 100%;
    animation: ani .4s forwards;
  }
  
  .nav_link::after {
    content: '';
    display: block;
    width: 0%;
    background-color: #fff;
    height: 1px;
  }

  @keyframes ani {
    0% {width: 0%;}
    100% {width: 100%;}
  }
  .light_button:hover {
    opacity: 1;
    transition: all 1s linear;
  }
  .dark_button:hover {
    opacity: 1;
    transition: all 1s linear;
  }
