.container {
    display: flex;justify-content: space-between;
    padding: 5% 0;
}
.footer_container {
    background-color: #001430 ;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleLink {
    font-size: 20px;
    margin-bottom: 35%;
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}
.link {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 15%;
}
