* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gradient {
  background: linear-gradient(180deg, #3FC1C9 0%, #3FC997 100%);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}





